body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    display:flex;
    height:100vh;
    align-items: center;
    width:100%;
    background: url(../../images/clouds-background.jpg)
}
body::before{
    content: '';
    background-color:tomato;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.3;
    animation: opacity 30s infinite;
    z-index:-1
  
  }

  .container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width:95%;
    background:rgba(1,1,1,.3);
    margin:auto;
    height:500px;
    text-align:center;
}

.containerHeader {
    text-align:center;
    width:100%;
    align-self: flex-start
}

.containerMiddle {
    align-self:center;
    height:300px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.containerMiddle > ul {
    width:100%;
    list-style-type: none;
    text-align:left;
    font-size: 12px;
    padding: 10px;
    color:white;
}

.containerMiddle > ul > li {
    margin-top:10px;
    border:1px solid white;
    padding: 2px 2px;
}


.containerBottom {
align-self:flex-end;
    display:flex;
    align-items:flex-end;
    width:100%;
}

  @keyframes opacity {
    0% {opacity: .3;}
    50% {opacity:.6;background-color:tomato;}
    100% {opacity: .3}
  
  }



/*SETS MAIN DIV TO 100%*/
body > div {
    width:100%;
}

h1, h2{
    font-family: 'Loved By The King', sans-serif;
    font-style: italic;
    text-align:center;
text-shadow:1px 1px 3px rgba(1,1,1,.3); 
margin: .5em 0 0;
}

h1,h2,h3,h4,h5,h6,p,li,td,th,textarea,label, input, .whiteOverride {
    color:white !important;
}

h4 {
    margin:0 0 10px;
}



h3,h4,h5,h6,p,li,td,th,textarea, input, label {
    font-family: 'Raleway', sans-serif !important;
}

p,li,td,th,textarea, input, label {
    font-size:.8em !important
}

.loginFieldContainer {
    margin-bottom:10px;
}

.container h1, h2 {
    font-weight: 100;
}


.containerInner {
width:95%;
margin:auto;
}

.nav {
    top:0; 
    position: fixed;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color:transparent;
    padding: 10px;
    margin: auto;
    align-self:center;
    display: block;
}

loginFieldContainer {
    display:block;
}


.tempTextFieldClass {
    color:white !important;

}

.tempTextFieldClass label {
    color:white !important;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

/*Adding !important to override mat ui stuff -chg*/
.log-in, .log-out, .register, .mainButton, .link-button {
border: 2px solid white;
  background:transparent;
  color: white ;
  padding:10px 20px;
  cursor: pointer;
  font-size:18px;
display:block;
margin:1em auto;
font-family: 'Loved By The King', sans-serif;
}


.overFlowDiv {
    max-height:350px;
    overflow: scroll;
    width:95%;
}
