body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    display:flex;
    height:100vh;
    align-items: center;
    width:100%;
    background: url(../../images/clouds-background.jpg)
}
body::before{
    content: '';
    background-color:tomato;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.3;
    animation: opacity 30s infinite;
    z-index:-1
  
  }

  @keyframes opacity {
    0% {opacity: .3;}
    50% {opacity:.6;background-color:tomato;}
    100% {opacity: .3}
  
  }



/*SETS MAIN DIV TO 100%*/
body > div {
    width:100%;
}

h1, h2{
    font-family: 'Loved By The King', sans-serif;
    font-style: italic;
    text-align:center;
text-shadow:1px 1px 3px rgba(1,1,1,.3); 
color:white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    background:rgba(255,255,255,.5);
    margin:auto;
    min-height:300px;
    text-align:center;
}

.nav {
    top:0; 
    position: fixed;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color:transparent;
    padding: 10px;
    margin: auto;
    align-self:center;
    display: block;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

/*Adding !important to override mat ui stuff -chg*/
.log-in, .log-out, .register, .mainButton, .link-button {
border: 2px solid white !important;
  background:transparent;
  color: white !important;
  padding:10px 20px;
  cursor: pointer;
  font-size:18px;
display:block;
margin:1em auto !important;
font-family: 'Loved By The King', sans-serif !important;
}

