body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    display:flex;
    height:100vh;
    align-items: center;
    width:100%;
    background: url(../../images/clouds-background.jpg)
}

@media (min-width:1020px) {
    body {
        background-size: cover;
    }
}

body::before{
    content: '';
    background-color:tomato;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:.3;
    animation: opacity 30s infinite;
    z-index:-1
  }

 .container, .dreamContainer {
    display: flex;
    flex-direction: column;
    width:95%;
    max-width:800px;

}

  .container {
    align-items: center;
    background:rgba(1,1,1,.3);
    margin:auto;
    height:500px;
    text-align:center;
}

.containerUserPage {
    justify-content:center;
}

.containerHeader {
    text-align:center;
    width:100%;
    align-self: flex-start;
    height:100px;
}

.containerMiddle {
    align-self:center;
    height:300px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:95%
}

.containerMiddle  ul {
    width:100%;
    list-style-type: none;
    text-align:left;
    font-size: 12px;
    padding: 10px 0;
    color:white;
}

.containerMiddle  ul > li {
    margin-top:10px;
    border:1px solid white;
    padding: 2px 2px;
}


.containerBottom {
align-self:flex-end;
    display:flex;
    align-items:flex-end;
    width:100%;
    height:100px;
    justify-content: center;

}

  @keyframes opacity {
    0% {opacity: .3;}
    50% {opacity:.6;background-color:tomato;}
    100% {opacity: .3}
  
  }

  .container input[type='text'], 
  .container input[type='password'], 
  .container input[type='username'], 
  .container .textField {
    background:transparent;
    border:1px solid white;
    display:block;
  }

  .container input[type='password'], 
  .container input[type='username'] {
      padding: 10px 20px;
  }

  .container .textField {
      width:95%;
      
      height:150px;
      margin-top:5px;
      display: block;

    }
.container input[type='text'] {
    width: 60%;
    padding: 10px 5px;
}

    .containerMiddle > label {
        display:block !important;
    }


/*SETS MAIN DIV TO 100%*/
body > div {
    width:100%;
}

h1 {
    font-size:1.75rem
}
h2 {
    font-size:1.5rem
}
h3 {
    font-size:1.25rem
}



h1, h2{
    font-family: 'Loved By The King', sans-serif;
    font-style: italic;
    text-align:center;
text-shadow:1px 1px 3px #0101014d; 
margin: .5em 0 0;
letter-spacing: .08em
}

h1,h2,h3,h4,h5,h6,p,li,td,th,textarea,label, input, .whiteOverride {
    color:white !important;
}

h3 {
    margin:0;
}

h4 {
    margin:0 0 10px;
}

.radioButtons h4 {
    display:inline;
}

.radioButtons h4:first-of-type {
    margin-right:5px;
}

.radioButtons h4:last-of-type {
    margin-left:5px;
}

.radioButtons input {
    width: 25px;
}


h3,h4,h5,h6,p,li,td,th,textarea, input, label {
    font-family: 'Raleway', sans-serif !important;
}

p,li,td,th,textarea, input, label {
    font-size:.9em !important
}

.loginFieldContainer {
    margin-bottom:10px;
}

.container h1, h2 {
    font-weight: 100;
}


.containerInner {
width:95%;
margin:auto;
}

.nav {
    top:0; 
    position: fixed;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color:transparent;
    padding: 10px;
    margin: auto;
    align-self:center;
    display: block;
}

loginFieldContainer {
    display:block;
}


.tempTextFieldClass {
    color:white !important;

}

.tempTextFieldClass label {
    color:white !important;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

/*Adding !important to override mat ui stuff -chg*/
.log-in, .log-out, .register, .mainButton, .link-button  {
border: 2px solid white;
  background:transparent;
  color: white ;
  padding:10px 20px;
  cursor: pointer;
  font-size:18px;
display:block;
margin:1em auto;
font-family: 'Loved By The King', sans-serif;
}

h1, h2, button, .log-in, .log-out, .register, .mainButton, .link-button {
    letter-spacing: .09em !important
}

.overFlowDiv {
    height:200px;
    overflow: scroll;
    width:95%;
}

/*For the dreams list*/
li > h3 {
    font-size: 1.1em;
}
li > p {
    margin: 5px 0;
}

/*For presentation*/
.horrace {
    width: 30px;
    height:10px;
    border: 1px solid transparent;
    background:transparent;
    display: block;
}