.gridContainer {
    width:95%;
    margin: auto;
}

form,
form > div {
margin:0 !important;
padding: 0 12px;
}

.gridContainer > div > label {
    text-align:left;
    font-size:.75em;
}

.gridContainer > div > input[type='text'] {
    width:100%;
    margin: auto;
    padding:2px 5px;
}
