a {text-decoration: none;}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    position: fixed;
    left: 10px;
    top:0;
    margin-top:0;
}

.nav {
  width:100%;
  overflow: hidden;
}

.menu { 
  position: fixed;
  top: 5px;
  right: 10px;
}
.navContainer {
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.nav-link {
  color: tomato;
  font-family: 'Loved By The King', sans-serif;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 30px;
display: block;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}
